@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-josefin-sans {
  font-family: "Josefin Sans", sans-serif;
}

.mplus1p {
  font-family: "M PLUS 1p", sans-serif !important;
}

.font-elsie-swash {
  font-family: "Elsie Swash Caps", cursive;
}
